html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: #C2C2C2;
  background-image: url("../images/floating-dream.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#container {
  height: 100%;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  width: 651px;
}

#content {
  position: absolute;
  top: 50%;
  height: 100px;
  margin-top: -200px;
  width: inherit;
}

#name {
  color: #FFFFFF;
  font-family: Hack, monospace;
  font-size: 72px;
  line-height: 96px;
  visibility: hidden;
  opacity: 0.0;
}

.social-link {
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: block;
  height: 70px;
  margin: 0 45px;
  width: 70px;
  visibility: hidden;
  opacity: 0.0;
}

#icons {
  margin: 0 auto;
  width: 390px;
}

#github {
  background-image: url("../images/github.png");
  float: left;
  margin-left: 0;
}

#mail {
  background-image: url("../images/mail.png");
  float: left;
}

#linkedin {
  background-image: url("../images/linkedin.png");
  float: left;
  margin-right: 0;
}

#linkedin:after {
  clear: both;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}
@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
